<div class="filter">
  <ul class="filters">
    <li>
      <a
        href="#"
        [class.selected]="currentFilter() === FilterEnum.ALL"
        (click)="setFilter(FilterEnum.ALL)"
      >
        All
      </a>
    </li>
    <li>
      <a
        href="#"
        [class.selected]="currentFilter() === FilterEnum.ACTIVE"
        (click)="setFilter(FilterEnum.ACTIVE)"
      >
        Active
      </a>
    </li>
    <li>
      <a
        href="#"
        [class.selected]="currentFilter() === FilterEnum.COMPLETED"
        (click)="setFilter(FilterEnum.COMPLETED)"
      >
        Completed
      </a>
    </li>
  </ul>
</div>